body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--clr-white);
}

.container {
    text-align: center;
    background-color: var(--clr-white);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
}



/* alert */
.swal-custom-button {
    width: 200px !important;
    background-color: var(--clr-main) !important;
}


.login_title {
    margin: 0;
    font-size: 2.5rem;
    font-weight: normal;
    letter-spacing: 0.1rem;
    text-decoration: none;
    color: var(--clr-dark);
}

.login_title:hover {
    color: var(--clr-main) ;
}

.login_title:hover .quest {
    color: var(--clr-dark); 
}

.quest {
    color: var(--clr-main) ;
}

.header p {
    margin-top: 30px;
    color: var(--clr-dark);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group {
    margin-bottom: 15px;
    width: 100%;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
    color: var(--clr-dark);
    text-align: left;
    padding-left: 6%;
}

.input-group input {
    width: 90%;
    padding: 10px;
    border: 1px solid var(--clr-dark);
    background-color: var(--clr-white);
    color: var(--clr-mainSwitch);
    border-radius: 4px;
    box-sizing: border-box;
    height: 60px;
}

.input-group input::placeholder {
    color: var(--clr-mainSwitch);
}

/* Autofill styles */
input:-webkit-autofill {
    background-color: var(--clr-white) !important;
    color: var(--clr-mainSwitch) !important;
    border: 1px solid var(--clr-dark) !important;
    -webkit-box-shadow: 0 0 0px 1000px var(--clr-white) inset !important;
    -webkit-text-fill-color: var(--clr-mainSwitch) !important;
    transition: background-color 5000s ease-in-out 0s;
}

button {
    background-color: var(--clr-main);
    color: var(--clr-dark);
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 20%;
    font-size: 20px;
    box-shadow: 0 4px 5px rgba(252, 200, 34, 0.5), 
                0 3px 3px rgba(234, 192, 51, 0.5), 
                0 0 10px -10px var(--clr-main) ;
    transition: transform 0.3s, box-shadow 0.3s;
}

button:hover {
    background-color: var(--clr-white);
    transform: translateY(-3px);
    box-shadow: 0 14px 28px rgba(234, 192, 51, 0.25), 
                0 10px 10px rgba(234, 192, 51, 0.25), 
                0 0 10px -10px var(--clr-main) ;
    color: var(--clr-main);      
}

.signup_link {
    margin-top: 20px;
    font-size: 12px;
    color: var(--clr-gray300);
}

.signup_link a {
    color: var(--clr-main);
    text-decoration: none;
    font-size: 0.9rem;
}

.signup_link a:hover {
    text-decoration: underline;
}
