body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--clr-white);
}
.vald-p{
    display: flex;
    align-items: start;
    margin: 0;
    padding-left: 6%;
    color: var(--clr-red600);
    font-size: var(--size-xs);
}
/*style for the pop up custom alert*/
.swal-custom-button {
    width: 200px !important;
    background-color: var(--clr-main) !important;
    

}

.container {
    text-align: center;
    background-color: var(--clr-white);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
}

.signup_title_tag {
    text-decoration: none;
}

.header h1 {
    margin: 0;
    font-size: 2.5rem;
    font-weight: normal;
    letter-spacing: 0.1rem;
}

.header .quiz {
    color: var(--clr-dark);
}

.header .quest {
    color: var(--clr-main);
}

.header p {
    margin-top: 30px;
    color: var(--clr-dark);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group {
    margin-bottom: 15px;
    width: 100%;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 1rem;
    color: var(--clr-dark);
    text-align: left;
    padding-left: 6%;

}

.input-group input {
    width: 90%;
    padding: 10px;
    background-color: var(--clr-white);
    color: var(--clr-mainSwitch);
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 50px;
}
input::placeholder{
    color: var(--clr-mainSwitch);
}

/* Autofill styles */
.input-group input:-webkit-autofill {
    background-color: var(--clr-white) !important;
    color: var(--clr-mainSwitch) !important;
    border: 1px solid var(--clr-dark) !important;
    -webkit-box-shadow: 0 0 0px 1000px var(--clr-white) inset !important;
    -webkit-text-fill-color: var(--clr-mainSwitch) !important;
    transition: background-color 5000s ease-in-out 0s;
}

button {
    background-color: var(--clr-main);
    color: black;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 20%;
    font-size: 20px;
}

button:hover {
    background-color: var(--clr-main);
}

.login {
    margin-top: 20px;
    font-size: 12px;
    color: var(--clr-gray500);
}

.login a {
    color: var(--clr-main);
    text-decoration: none;
    font-size: 0.9rem;
}

.login a:hover {
    text-decoration: underline;
}
